name = "hfttb"
uuid = "7ed62fd1-ac14-4325-a0ad-ae9aa32ec12e"
authors = ["linan <linanisyugioh@163.com>"]
version = "1.0.0-DEV"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
